{% extends 'default/baseInfoTemplate.html.twig' %}

{% block info %}
<p> Nous sommes une start-up crée en 2017 par Brin Yao Fabien Amonkonan étudiant en master 1 à Efficom Lille.<br />
 Notre objectif est de permettre au indépendant de pouvoir faire des missions d'entréprise. </p>
{% endblock %}
